@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 300px) and (max-width: 767px) {
	.resultlink{
		margin-top: 0;
		margin-left: 25px;
	}
	.resultlink a{
		margin-top: 0!important;
		margin-left: 0!important;
	}
	.top-nav {
	    margin-top: 0px;
	}
	header .btn{
		width: 100%;
	}
	#recievedusers {
	    min-height: .01%;
	    overflow-x: auto;
	    float: left;
	    width: 100%;
	}
	.btn{
		width: 100%;
		margin: 10px 0;
	}
	.panel-title{
		width: 100%;
		margin-top: 10px;
	}
	a.logo {
	    font-size: 24px;
	}
	.top-nav .dropdown-menu.extended.logout {
	    top: 25px;
	}
	#sidebar { 
	    top: 0;
	}
	.panel-heading { 
	    line-height: 45px;
	}
	#userfile .form-control{
		width: 100% !important;
	}
	#userfile .btn-group{
		width: 100% !important;
	}
	#userfile .btn-group .btn-group{
		width: 100% !important;
	}
	.btn-group-vertical>.btn, .btn-group>.btn{
		width: 100% !important;		
	}
	span.btn.btn-danger.btn-sm.deletenotice {
	    margin: 0px 0 0;
	}
	select#ticketname {
	    float: left;
	    width: 100% !important;
	}
	.table{
		float: left;
		margin-top: 10px;
	}
	form#listunsoldform {
	    float: left;
	    width: 100%;
	    margin-top: 10px;
	}
	form#listunsoldform .pull-LEFT {
	    width: 100%;
	    margin: 0 0 10px 0 !important;
	}

}
@media (max-width: 480px) {
    body{
        margin-top: 65px !important;
    }
	.brand {
		height: 65px;
	}
}